{% set categories = ["Planning", "Financial", "Listed building", "Land compensation", "Housing / buildings", "Light obstruction notice", "Other", "For information only"]%}
{# create array of sub cats to match cats #}
{% set subcategories = [
  ["Conditional planning consent", "Conservation area", "Enforcement notice", "Modification / rectification order", "No permitted development / article 4", "Planning agreement", "Planning notice", "Tree preservation order (TPO)"], 
  [], 
  ["Enforcement notice", "Listed building"], 
  [], 
  ["Grant", "Occupancy including house in multiple occupation (HMO)", "Right to buy / right to acquire / stuff", "Works, repairs or authority action"], 
  [], 
  ["Ancient monuments", "Assets of community value", "Compulsory purchase or acquisition", "Conservation covenant", "Highways and paths", "Local acts", "New towns", "Other covenant", "Pipeline", "Protected areas / sites", "Smoke control order", "Uncommon charges", "Water / drainage / environmental"],
  ["This does not consititute a charge"]
  ]%}

{% set authorities = ["None", "City of London Corporation", "Richmond District Council", "City of Westminster", "Tower Hamlets LPA", "Camden", "Hackney", "Lambeth LPA", "Southwark"]%}
<style>
.subcategory{
  margin-left:20px;
}
</style>

<script src="/public/ol/js/jquery.min.js"></script>
<script>
  function initFilter(){
    console.log('init filter');

    $('.govuk-checkboxes__input').change(function(evt) {
      console.log(this);
      console.log($(this).val());
      let groupClass = '.'+ $(this).val();
      let isChecked = $(this).prop('checked');
      console.log(groupClass,isChecked);
      console.log($(groupClass));
      
      $(groupClass).prop('checked', isChecked);
    });
  }
</script>


<div id="categories" data-module="option-select" class="option-select js-collapsible" data-option-select-module-started="true">
  <h3 class="option-select__heading js-container-heading">
    <button class="js-container-button option-select__title option-select__button" type="button" aria-expanded="true" id="option-select-title-category" aria-controls="list_of_categories">Categories</button>
    <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="option-select__icon option-select__icon--up" aria-hidden="true" focusable="false"><path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z"></path></svg>
    <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="option-select__icon option-select__icon--down" aria-hidden="true" focusable="false"><path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z"></path></svg>
  </h3>
  
  <div class="option-select__container js-options-container" id="list_of_categories" tabindex="-1" style="height: 260px;">
        <div class="option-select__container-inner r" style="height: 250px;">

          <div class="govuk-checkboxes govuk-checkboxes--small govuk-!-padding-bottom-2" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="snap_to_map" name="snap_to_map" type="checkbox" value="snap" aria-describedby="snap-to-map-hint" checked>
              <label class="govuk-label govuk-checkboxes__label" for="snap_to_map">
                Select all categories
              </label>
            </div>
          </div>

          <div class="govuk-form-group govuk-checkboxes--small">
            <fieldset class="govuk-fieldset">
            {% for cat in categories %}
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
              <input type="checkbox" name="market_sector[]" id="{{cat}}" value="{{cat | replace(" ", "") | replace("/", "-") }}" class="govuk-checkboxes__input" checked>
              <label for="{{cat}}" class="govuk-label  govuk-checkboxes__label">{{cat}}</label>
              </div>
            </div>  
            {% for item in subcategories[loop.index0] %}
            <div class="govuk-checkboxes subcategory">
              <div class="govuk-checkboxes__item">
              <input type="checkbox" name="market_sector[]" id="{{item}}" value="" class="govuk-checkboxes__input {{cat | replace(" ", "") | replace("/", "-")}}" checked>
              <label for="{{item}}" class="govuk-label  govuk-checkboxes__label">{{item}}</label>
              </div>
            </div>  
            {% endfor%}
            {% endfor%}

            </fieldset>
          </div>

          <div class="govuk-checkboxes govuk-checkboxes--small govuk-!-padding-top-2" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="snap_to_map" name="snap_to_map" type="checkbox" value="snap" aria-describedby="snap-to-map-hint">
              <label class="govuk-label govuk-checkboxes__label" for="snap_to_map">
                Show cancelled charges
              </label>
            </div>
          </div>
          
      </div>
    </div>
  </div>
  
  <div data-module="option-select-oa" class="option-select js-collapsible" data-option-select-module-started="true">
      <h3 class="option-select__heading js-container-heading">
        <button class="js-container-button option-select__title option-select__button" type="button" aria-expanded="true" id="option-select-title-oa" aria-controls="list_of_oas">Originating authorities</button>
        <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="option-select__icon option-select__icon--up" aria-hidden="true" focusable="false"><path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z"></path></svg>
        <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="option-select__icon option-select__icon--down" aria-hidden="true" focusable="false"><path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z"></path></svg>
      </h3>
    
     
      <div class="option-select__container js-options-container" id="list_of_oas" tabindex="-1" style="height: 165px;">
        <div class="option-select__container-inner js-auto-height-inner">
          
    <div id="checkboxes-dd7c3a36" data-module="gem-checkboxes govuk-checkboxes" class="gem-c-checkboxes govuk-form-group govuk-checkboxes--small" data-gem-checkboxes-module-started="true" data-govuk-checkboxes-module-started="true">
          <fieldset class="govuk-fieldset">
            {% for item in authorities %}
         <div class="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
          <input type="checkbox" name="market_sector[]" id="{{item}}" value="{{item}}" class="govuk-checkboxes__input" checked>
          <label for="{{item}}" class="govuk-label govuk-checkboxes__label">{{item}}</label>
          </div>
        </div>  
        {% endfor %}


   
    </fieldset>
    </div>
    </div>
    </div>
  </div>