<!-- <h2 class="govuk-heading-m">Key</h2> -->

<!-- <h3 class="govuk-heading-s">Edit mode</h3> -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-radios  govuk-radios--small" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="add" name="mode" type="radio" value="government-gateway"
          aria-describedby="sign-in-item-hint" checked>
        <label class="govuk-label govuk-radios__label" for="sign-in">
          <span class="">
            <span class=""></span>
            Add area
          </span>
        </label>
        <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint govuk-!-font-size-16">
          Add points to the map to create an area
        </div>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="add" name="mode" type="radio" value="government-gateway"
          aria-describedby="sign-in-item-hint" data-aria-controls="conditional-sign-in" checked>
        <label class="govuk-label govuk-radios__label" for="sign-in">
          <span class="">
            <span class=""></span>
            Select area from map
          </span>
        </label>
        <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint govuk-!-font-size-16">
          Use points on the map to create an area
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="edit" name="mode" type="radio" value="government-gateway"
          aria-describedby="sign-in-item-hint">
        <label class="govuk-label govuk-radios__label" for="h">
          <span class="r">
            <span class="defra-map-key__symbol  defra-map-key__symbol--big"></span>
            Edit area
          </span>
        </label>
        <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint govuk-!-font-size-16">
          Drag the edges on an existing area to change it
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="delete" name="mode" type="radio" value="govuk-verify"
          aria-describedby="sign-in-2-item-hint">
        <label class="govuk-label govuk-radios__label" for="h">
          <span class="">
            <span class="defra-map-key__symbol defra-map-key__symbol--big"></span>
            Delete area
          </span>
        </label>
        <div id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint govuk-!-font-size-16">
          Remove individual areas
        </div>
      </div>
    </div>
  </div>
</div>



<hr class="govuk-section-break govuk-section-break--visible">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <!-- <h3 class="govuk-heading-s">Options</h3> -->

    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">


      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british"
          aria-describedby="nationality-item-hint">
        <label class="govuk-label govuk-checkboxes__label" for="nationality">
          Snap to map
        </label>
        <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint govuk-!-font-size-16">
          Place points directly on map elements
        </div>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="hatching" name="nationality" type="checkbox" value="other" checked="">
        <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
          Show shading
        </label>
      </div>
    </div>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible ">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="">
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Undo
      </button>
      <br />
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Clear all
      </button>
    </div>
  </div>
</div>

<button class="govuk-button" data-module="govuk-button">
  Confirm area
</button>


</div>