<div class="govuk-!-margin-top-6 govuk-!-margin-bottom-9">
  <h2 class="govuk-heading-m" id="subsection-title">
    Other ways to search
  </h2>

  <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-4">
    <!-- <li><a href="search">Search by postcode</a></li> -->
    <li><a href="search-by-map">Search by map</a></li>
    <li><a href="search-by-title-number">Search by title number</a></li>
    <li><a href="search-by-coordinates">Search by coordinates</a></li>
    <li><a href="search-by-inspire-id">Search by INSPIRE ID</a></li>
    <li></li>
  </ul>
</div>


<div class=" govuk-!-margin-bottom-9">
  <h2 class="govuk-heading-m" id="subsection-title">
    Get help
  </h2>
  <p class="govuk-body">Contact HM Land Registry if you are need help in using this service.</p>
  <p class="govuk-body">You can <a>use our online contact form</a> or call use on <b>0300 006 0444</b>.</p>
</div>