
<aside class="app-related-items govuk-!-margin-bottom-" role="complementary">
  <h2 class="govuk-heading-s" id="subsection-title">
    Other ways to search for a local land charge
  </h2>
  <nav role="navigation" aria-labelledby="subsection-title">
    <ul class="govuk-list govuk-list--spaced govuk-!-font-size-16">
      <!-- <li><a href="search">Search by postcode</a></li> -->
      <li><a href="search-by-map">Search by map</a></li>
      <li><a href="search-by-title-number">Search by title number</a></li>
      <li><a href="search-by-coordinates">Search by coordinates</a></li>
      <li><a href="search-by-inspire-id">Search by INSPIRE ID</a></li>
      <li>Contact HM Land Registry on <b>0300 006 0444</b> if you are struggling to use this service</li>
    </ul>
  </nav>
</aside>
