{% set serviceName="Maintain LLC" %}
{% extends "layouts/main.html" %}

{% set pageName="LLC-123456 quality check results" %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">LLC-123456</span>
      Submit your quality check results updates
    </h1>


    <dl class="govuk-summary-list">
<!--       <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Local Authority
        </dt>
        <dd class="govuk-summary-list__value">
          The North Yorkshire Council (formerly Richmondshire District Council)
        </dd>
      </div> -->
<!--       <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Charge ID
        </dt>
        <dd class="govuk-summary-list__value">
          LLC-123456
        </dd>
      </div> -->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date and time issues
        </dt>
        <dd class="govuk-summary-list__value">
          Pass
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Short address length
        </dt>
        <dd class="govuk-summary-list__value">
          Fail
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Spatial position
        </dt>
        <dd class="govuk-summary-list__value">
          Pass
        </dd>
      </div>
    </dl>

    
<!-- 
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">
        What has changed?
      </caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Type</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Now</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Date and time issues</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">Pass</td>

        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Short address length</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">Fail</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Spatial position</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">Pass</td>
        </tr>
      </tbody>
    </table>

 -->

    <div class="govuk-body govuk-!-margin-top-9 govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-m">
        Reason for update
      </h2>
      <p class="govuk-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </p>
    </div>


    <a href="confirmation" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Submit
    </a>





  </div>


  <div class="govuk-grid-column-one-third">

  </div>

</div>
{% endblock %}