//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

//img alt text
.img-alt-wrap {
  font-family: "GDS Transport", arial, sans-serif;
}
// Add extra styles here
@import "hmrc_banner";
@import "../css/defra-map";

// Hide the OGL licence
.govuk-footer__licence-logo,
.govuk-footer__licence-description {
  display: none;
}

// Remove margin so links line up now we've removed the OLG
.govuk-footer__inline-list,
.govuk-footer__inline-list-item {
  margin-bottom: 0;
}



.align-tag-right{
  float:right;
  margin-top:4px;
  margin-right:4px;
}

.govuk-grid-column-one-fifth {
  width:20%;
  float: left;
  box-sizing: border-box;
  padding: 0 15px;
}

.govuk-grid-column-four-fifths {
  width:75%;
  float: left;
  box-sizing: border-box;
  padding: 0 15px;
}
.govuk-table__cell--no-border{
  border-bottom: none;
  padding: 10px 0;
}
.panel-blue {
  box-sizing: border-box;
  clear: both;
  border-left-style: solid;
  border-color: #1d70b8;
  border-left-width: thick;
  padding: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
.language-switcher {
  float: right;
  margin-bottom: 15px;
  margin-top: 15px;
}
.subnav-item {
  margin-bottom: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
}
.subnav-item-current {
  background-color: #fff;
  border-left: 4px solid #1d70b8;
  margin-left: -14px;
  padding-left: 10px;
}
.subnav-item-current-link {
  font-weight: 700;
}
.quarter-width {
  width: 25%;
}