//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

//img alt text
.img-alt-wrap {
  font-family: "GDS Transport", arial, sans-serif;
}
// Add extra styles here
@import "hmrc_banner";
@import "../css/defra-map";

// Hide the OGL licence
.govuk-footer__licence-logo,
.govuk-footer__licence-description {
  display: none;
}

// Remove margin so links line up now we've removed the OLG
.govuk-footer__inline-list,
.govuk-footer__inline-list-item {
  margin-bottom: 0;
}



.align-tag-right{
  float:right;
  margin-top:4px;
  margin-right:4px;
}
