{% extends "layouts/portal.html" %}

{% set pageName="Official search result is ready to download - GOV.UK" %}

{% block beforeContent %}
{{ super() }}
{% endblock %}

{% block content %}
  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              Official search result is ready to download
            </h1>
            <!-- <div class="govuk-panel__body">
              Your reference number<br><strong>HDJ2123F</strong>
            </div> -->
          </div>

          <!-- <p class="govuk-body">We have sent you a confirmation email.</p> -->

          <!-- <h2 class="govuk-heading-m">What happens next</h2> -->

          <p class="govuk-body">
            <a href="#" class="govuk-link">Download your official search result</a> <!-- This will also appear in your PDF downloads folder. -->
          </p>
          <!-- <p class="govuk-body">
            They will contact you with your official copy of Local Land Charges.
          </p>
          <p class="govuk-body">
            Your official search can also be found on your account.
          </p> -->

          <p class="govuk-body govuk-!-margin-top-9 govuk-!-margin-bottom-9">
            <a href="#" class="govuk-link">Start a new search</a>
          </p>
          <!-- <p class="govuk-body">
            <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
          </p> -->
        </div>
      </div>
    </main>
  </div>



        </div>

      </div>
    </main>
  </div>
{% endblock %}
