{% extends "layouts/portal.html" %}

{% set pageName="How do you want to search? - GOV.UK" %}

{% block beforeContent %}
  {{ super() }}
{% endblock %}

{% block content %}
<main class="govuk-main-wrapper" id="main-content" role="main">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="POST">
      {{ govukRadios({
        name: "charge-category",
        classes: "govuk-!-margin-bottom-6",
        fieldset: {
          legend: {
            text: "What do you want to search by?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-9"
          }
        },
        items: [
          {
            value: "title~search-by-title-number",
            text: "Title number"
          },
          {
            value: "address~search",
            text: "Postcode or street name"
          },
          {
            value: "map~search-by-map",
            text: "Map"
          },
          {
            value: "repeat~search-by-reference-number",
            text: "Repeat a previous search",
            hint: {
              text: "Find out if new charges have been added to a previous search result"
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
    </div>

    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Get help</h2>
      <p class="govuk-body-m">
        <a class="govuk-link" href="/get-help-with-search-for-local-land-charges" target="_blank">Get help with this
          service (opens in new tab)</a>
      </p>
    </div>

  </div>

</main>
{% endblock %}