{% extends "layouts/portal.html" %}

{% set pageName="Search by coordinates - GOV.UK" %}

{% block beforeContent %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Search by coordinates
    </h1>

    <div class="govuk-form-group">
      <label class="govuk-label" for="event-name">
        Enter X coordinates (Eastings)
      </label>
      <div id="event-name-hint" class="govuk-hint">
        Coordinates must be numerical
      </div>
      <input class="govuk-input govuk-!-width-one-half" id="event-name" name="event-name" type="text">
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label" for="event-name">
        Enter Y coordinates (Northings)
      </label>
      <div id="event-name-hint" class="govuk-hint">
        Coordinates must be numerical
      </div>
      <input class="govuk-input govuk-!-width-one-half" id="event-name" name="event-name" type="text">
    </div>

    <a href="edit-map" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Search
    </a>

    {% include "includes/not-yet-available.html" %}

    {% include "includes/search-inset-terms-with-map.html" %}
    {% set method = "coords" %}
    {% include "includes/portal-search-methods.html" %}


  </div>

  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Get help</h2>
    <p class="govuk-body-m">
      <a class="govuk-link" href="/get-help-with-search-for-local-land-charges" target="_blank">Get help with this
        service (opens in new tab)</a>
    </p>
  </div>

</div>
{% endblock %}