{% extends "layouts/portal.html" %}

{% set pageName="Search by title number - GOV.UK" %}

{% block beforeContent %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Repeat a previous search
    </h1>
    <p>
      Enter the search reference. You can find this on your original HM Land Registry download. It should be 9 digits with no spaces.
    </p>
    <div class="govuk-form-group">
      <label class="govuk-label" for="event-name">
        
      </label>
      <div id="event-name-hint" class="govuk-hint">
        For example, 000219841
      </div>
      <input class="govuk-input govuk-!-width-one-half" id="event-name" name="event-name" type="text">
    </div>

    <a href="check-answers-repeat" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Search
    </a>

    {% include "includes/not-yet-available.html" %}

    {% include "includes/search-inset-terms.html" %}
    {% set method = "repeat" %}
    {% include "includes/portal-search-methods.html" %}


  </div>

  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Get help</h2>
    <p class="govuk-body-m">
      <a class="govuk-link" href="/get-help-with-search-for-local-land-charges" target="_blank">Get help with this
        service (opens in new tab)</a>
    </p>
  </div>

</div>
{% endblock %}