{% extends "layouts/portal.html" %}

{% set pageName="Search by INSPIRE ID - GOV.UK" %}

{% block beforeContent %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Search by INSPIRE ID
    </h1>
    <p>
      <a href="https://use-land-property-data.service.gov.uk/">Find out more about INSPIRE data (opens in new tab)</a>.
    </p>
    <div class="govuk-form-group">
      <label class="govuk-label" for="event-name">
        
      </label>
      <div id="event-name-hint" class="govuk-hint">
        This is a seven digital number, eg 2197841
      </div>
      <input class="govuk-input govuk-!-width-one-half" id="event-name" name="event-name" type="text">
    </div>

    <a href="confirm" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Search
    </a>

    {% include "includes/not-yet-available.html" %}

    {% include "includes/search-inset-terms-with-map.html" %}
    {% set method = "inspire" %}
    {% include "includes/portal-search-methods.html" %}


  </div>

  <div class="govuk-grid-column-one-third">
    
  </div>

</div>
{% endblock %}