{% extends "layouts/portal.html" %}

{% set pageName="Search for local land charges on land and property - GOV.UK" %}

{% block beforeContent %}
  {{ super() }}
{% endblock %}


{% block content %}
<div class="govuk-width-container {{ containerClasses }}">


  <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main" {% if mainLang %}
    lang="{{ mainLang }}" {% endif %}>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Search for local land charges on land and property
        </h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <p>Use this service to check for local land charges in England and Wales.</p>
        <p>This service is also available <a href="check-area1">in Welsh (Cymraeg)</a>.</p>

        <div class="govuk-inset-text">
          Not all data is on this service yet. You can<a href="#"> check if a local authority has added their data
            first</a>.
        </div>



        {{ govukButton({
        text: 'Start now',
        href: 'how-to-search',
        isStartButton: true,
        classes: 'govuk-!-margin-bottom-9'
        }) }}

        <h1 class="govuk-heading-l">
          Before you start
        </h1>

        <p class="govuk-body">To search for a local land charge, you will need to identify a property or area of land. We call this a search area.</p>
        <p class="govuk-body">You can search by postcode and street name, coordinates, map, title number and INSPIRE ID. You can also repeat a previous search.</p>
        <p class="govuk-body">It costs £15 for an official search certificate. </p>
        <p class="govuk-body">You can <a href="../sprint-65/get-help-v1" class="govuk-link" rel="noreferrer noopener" target="_blank">contact HM Land Registry (opens in new tab)</a> with any queries about using this service.</p>
      
      </div>






      <div class="govuk-grid-column-one-third">

        

      </div>
    </div>



  </main>
</div>
{% endblock %}