{% extends "layouts/main.html" %}

{% set pageName="Search by postcode or street name for local land charges - GOV.UK" %}
{% set serviceName= "Maintain LLC" %}
{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/language-switcher-heading.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      What is the LLC reference number for your charge extent?
    </h1>
    <p>You must ensure that the charge extent you create is correct before adding your charge.</p>
    <div class="govuk-form-group">
      <!-- <div id="event-name-hint" class="govuk-hint">
        For example, SE5 9QY or High Street, Durham
      </div> -->
      <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
    </div>

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Continue",
        href:"map"
      }) }}
      <a class="govuk-link" href="map">Cancel</a>
    </div>


    {% set method = "llc-ref" %}
    {% include "./map-includes/search-methods.html" %}

  </div>


  <div class="govuk-grid-column-one-third">

  </div>

</div>
{% endblock %}