{% extends "layouts/main.html" %}

{% set pageName="Information Submitted - HM Land Registry" %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title govuk-!-padding-top-6 govuk-!-padding-bottom-6">
            Information Submitted
          </h1>
<!--           <div class="govuk-panel__body">
            Information Submitted
          </div> -->
        </div>
        <p class="govuk-body">We have sent you a confirmation email.</p>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
          Thank you for getting in touch.
        </p>
        <p class="govuk-body">
          We usually reply to online enquiries within the next full working day and are committed to responding within five working days. If we cannot do this, we'll contact you to let you know. We respond to Data Protection Act requests within one calendar month and Freedom of Information Act requests within twenty working days.
        </p>
        <p class="govuk-body">
          If you have not already done so, you may wish to visit
          <a href="gov.uk/land-registry" class="govuk-link">gov.uk/land-registry</a>.
        </p>
      </div>
    </div>
  </main>
</div>
{% endblock %}