{% extends "layouts/main.html" %}

{% set pageName="How to use the map -  Search for local land charges - GOV.UK" %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/language-switcher-heading.html" %}
{% endblock %}

{% block content %}
<main class="govuk-main-wrapper " id="main-content" role="main">



  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">
              How to use the map
          </h1>
          <h2 class="govuk-heading-m">How to draw your search area</h2>
          <p class="govuk-body">
              Click the add area button
          </p>
          <ul class="govuk-list govuk-list--bullet">
              <li>choose a location on the map and click to start drawing</li>
              <li>keep clicking around the edge of your search area to draw the extent</li>
              <li>to complete your shape, join the ends up or double click</li>
          </ul>
          <p class="govuk-body">
              To draw curves
          </p>
          <ul class="govuk-list govuk-list--bullet">
              <li>hold down the SHIFT key and click</li>
              <li>release the SHIFT key and mouse button to stop drawing</li>
              <li>or release only SHIFT to continue drawing a straight edge</li>
          </ul>
          <p class="govuk-body">
              Before confirming, ensure the search area captured includes all of the properties and land you want to search against, including (if necessary) driveways, alleys or gardens, etc. 
          </p>
              
            <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        How to draw your search area (video)
      </span>
    </summary>
    <div class="govuk-details__text">
                  <video controls="" loop="" class="govuk-grid-column-three-quarters" id="draw_area_video">
                  <source src="/public/images/add-area.mp4" type="video/mp4">
              </video>
                <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Transcript for: How to draw your search area
      </span>
    </summary>
    <div class="govuk-details__text">
                  <p class="govuk-body">This video shows how to draw your search area using the add area button.</p>
              <p class="govuk-body">In the video, to draw an extent with straight edges, a user:</p>
              <ol class="govuk-list govuk-list--number">
                  <li>clicks the add area button</li>
                  <li>selects a place to start drawing</li>
                  <li>clicks the cursor on their start point</li>
                  <li>keeps clicking around the edges of the search area</li>
                  <li>double-clicks to finish drawing</li>
              </ol>
              <p class="govuk-body">In the video, to draw an extent with curved edges, a user:</p>
              <ol class="govuk-list govuk-list--number">
                  <li>clicks the add area button</li>
                  <li>selects a place to start drawing</li>
                  <li>clicks the cursor on their start point</li>
                  <li>keeps clicking around the edges of the search area</li>
                  <li>holds the SHIFT key to draw a curved extent edge</li>
                  <li>releases SHIFT and continues by drawing a straight edge</li>
                  <li>double-clicks to finish drawing</li>
              </ol>
  
    </div>
  </details>
  
  
  
    </div>
  </details>
  
  
  
          <h2 class="govuk-heading-m">How to edit your search area</h2>
          <p class="govuk-body">
              Click the edit area button
          </p>
          <ul class="govuk-list govuk-list--bullet">
              <li>you will see your search area turn yellow</li>
              <li>click and drag the outline of your search area to edit it</li>
              <li>click the edit area button again to finish editing</li>
          </ul>
              
            <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        How to edit your search area (video)
      </span>
    </summary>
    <div class="govuk-details__text">
                  <video controls="" loop="" class="govuk-grid-column-three-quarters" id="edit_area_video">
                  <source src="/public/images/edit-area.mp4" type="video/mp4">
              </video>
                <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Transcript for: How to edit your search area
      </span>
    </summary>
    <div class="govuk-details__text">
                  <p class="govuk-body">This video shows how to edit your search area using the edit area button.</p>
              <p class="govuk-body">In the video, a user:</p>
              <ol class="govuk-list govuk-list--number">
                  <li>clicks the edit area button</li>
                  <li>sees the search area turn yellow</li>
                  <li>clicks the cursor on one of the points</li>
                  <li>drags the point to change the search area</li>
                  <li>holds ALT whilst clicking another point to delete it</li>
                  <li>clicks the edit area button again to finish editing</li>
              </ol>
  
    </div>
  </details>
  
  
  
    </div>
  </details>
  
  
  
          <h2 class="govuk-heading-m">How to copy a building from the map</h2>
          <p class="govuk-body">
              You can only copy from the map when you are zoomed in to a location (seeing a place close-up). Make sure you can see building outlines on the map.
          </p>
          <p class="govuk-body">
              Click the copy from map button
          </p>
          <ul class="govuk-list govuk-list--bullet">
              <li>click on the building you want to copy</li>
              <li>the building will be highlighted</li>
          </ul>
          <p class="govuk-body">
              Before confirming, ensure the search area captured includes all of the properties and land you want to search against, including (if necessary) driveways, alleys or gardens, etc. 
              Using this feature once on a property may not always be enough to capture the whole affected area.
          </p>
              
            <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        How to copy a building from the map (video)
      </span>
    </summary>
    <div class="govuk-details__text">
                  <video controls="" loop="" class="govuk-grid-column-three-quarters" id="copy_base_map_video">
                  <source src="/public/images/copy-map.mp4" type="video/mp4">
              </video>
                <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Transcript for: How to copy a building from the map
      </span>
    </summary>
    <div class="govuk-details__text">
                  <p class="govuk-body">This video shows how to copy a building from the map using the copy from map button.</p>
              <p class="govuk-body">In the video, a user:</p>
              <ol class="govuk-list govuk-list--number">
                  <li>clicks the copy from map button</li>
                  <li>clicks the property outline they want to copy</li>
              </ol>
  
    </div>
  </details>
  
  
  
    </div>
  </details>
  
  
  
          <h2 class="govuk-heading-m">How to draw a shape with snap to</h2>
          <p class="govuk-body">
              You can only use snap-to when you are zoomed into a location (seeing a place close-up).
          </p>
          <p class="govuk-body">
              Click the add area button
          </p>
          <p class="govuk-body">
              Click the snap to map box
          </p>
          <ul class="govuk-list govuk-list--bullet">
              <li>hover your cursor near the line or point you want to snap to</li>
              <li>the cursor will jump to that point automatically</li>
          </ul>
          <p class="govuk-body">
              This feature can also be used during other map interactions, like editing.
          </p>
              
            <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        How to draw a shape with snap to (video)
      </span>
    </summary>
    <div class="govuk-details__text">
                  <video controls="" loop="" class="govuk-grid-column-three-quarters" id="snapto_video">
                  <source src="/public/images/snap-to.mp4" type="video/mp4">
              </video>
                <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Transcript for: How to draw a shape with snap to
      </span>
    </summary>
    <div class="govuk-details__text">
                  <p class="govuk-body">This video shows how to draw a shape with snap to.</p>
              <p class="govuk-body">In the video, a user:</p>
              <ol class="govuk-list govuk-list--number">
                  <li>clicks the snap to check box</li>
                  <li>clicks the add area button</li>
                  <li>places their cursor along the edge of their search area</li>
                  <li>sees the cursor snapping to the edges as they hover close to them</li>
                  <li>closes the shape by joining up to their starting point</li>
                  <li>clicks to finish drawing</li>
              </ol>
  
    </div>
  </details>
  
  
  
    </div>
  </details>
  
  
  
          <h2 class="govuk-heading-m">How to delete one search area</h2>
          <p class="govuk-body">
              Click the delete area button
          </p>
          <ul class="govuk-list govuk-list--bullet">
              <li>your search area will turn red</li>
              <li>click the search area you want to delete</li>
          </ul>
              
            <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        How to delete one search area (video)
      </span>
    </summary>
    <div class="govuk-details__text">
                  <video controls="" loop="" class="govuk-grid-column-three-quarters" id="delete_one_video">
                  <source src="/public/images/delete-area.mp4" type="video/mp4">
              </video>
                <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Transcript for: How to delete one search area
      </span>
    </summary>
    <div class="govuk-details__text">
                  <p class="govuk-body">This video shows how to delete one search area using the delete area button.</p>
              <p class="govuk-body">In the video, a user:</p>
              <ol class="govuk-list govuk-list--number">
                  <li>clicks the delete area button</li>
                  <li>sees the search area go red</li>
                  <li>clicks a search area to remove it</li>
              </ol>
  
    </div>
  </details>
  
  
  
    </div>
  </details>
  
  
  
          <h2 class="govuk-heading-m">How to delete your search area</h2>
          <p class="govuk-body">
              Click the clear all button
          </p>
          <p class="govuk-body">
              By clicking the remove button it deletes everything you have drawn on the map.
          </p>
              
            <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        How to delete your search area (video)
      </span>
    </summary>
    <div class="govuk-details__text">
                  <video controls="" loop="" class="govuk-grid-column-three-quarters" id="delete_video">
                  <source src="/public/images/clear.mp4" type="video/mp4">
              </video>
                <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Transcript for: How to delete your search area
      </span>
    </summary>
    <div class="govuk-details__text">
                  <p class="govuk-body">This video shows how to delete your search area using the clear all button.</p>
              <p class="govuk-body">In the video, a user:</p>
              <ol class="govuk-list govuk-list--number">
                  <li>clicks the clear all button</li>
                  <li>sees everything they have drawn on the map being deleted</li>
              </ol>
  
    </div>
  </details>
  
  
  
    </div>
  </details>
  
  
  
  
          <h2 class="govuk-heading-m">How to undo your last map interaction</h2>
          <p class="govuk-body">
              Click the undo button
          </p>
          <p class="govuk-body">
              Your last interaction(s) with the map will be reverted.
          </p>
          <p class="govuk-body">
              You can click undo as many times as necessary to undo multiple actions in sequence.
          </p>
              
            <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        How to undo your last map interaction (video)
      </span>
    </summary>
    <div class="govuk-details__text">
                  <video controls="" loop="" class="govuk-grid-column-three-quarters" id="undo_video">
                  <source src="/public/images/undo.mp4" type="video/mp4">
              </video>
                <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Transcript for: How to undo your last map interaction
      </span>
    </summary>
    <div class="govuk-details__text">
                  <p class="govuk-body">This video shows how to undo your last interactions with the map.</p>
              <p class="govuk-body">In the video, a user:</p>
              <ol class="govuk-list govuk-list--number">
                  <li>makes two changes to the map</li>
                  <li>clicks the undo button twice</li>
                  <li>sees those last changes being reverted</li>
              </ol>
  
    </div>
  </details>
  
  
  
    </div>
  </details>
  
  
  
      </div>
  </div>
  
          </main>
{% endblock %}