<div class="govuk-!-margin-top-6 govuk-!-margin-bottom-9">
  <h2 class="govuk-heading-m" id="subsection-title">
    Other ways to add an extent
  </h2>

  <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-4">
    {% if method != "postcode" %}
    <li><a href="search">Find the extent by postcode, street name or town</a></li>
    {% endif %}
    {% if method != "title" %}
    <li><a href="search-by-title">Add an extent by title number</a></li>
    {% endif %}
    {% if method != "map" %}
    <li><a href="#">Add an extent by map</a></li>
    {% endif %}
    {% if method != "shapefile" %}
    <li><a href="upload-shapefile">Add an extent by uploading a shapefile</a></li>
    {% endif %}
  </ul>
</div>
