{% extends "layouts/main.html" %}

{% set pageName="Local land charges search results - GOV.UK" %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/language-switcher-heading.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-padding-top-6">
      Get help with the Search for local land charges service
    </h1>


    <h2 class="govuk-heading-m govuk-!-padding-top-6">Questions about local land charge search results</h2>
    <p class="govuk-body">Contact the relevant local authority (local council) for all queries about local land charge search results, including missing local land charges and the separate CON29 service.</p>
    <p class="govuk-body"><a class="govuk-link" href="#" target="_blank">Find your local council (opens in new tab)</a></p>
    <p class="govuk-body"><a class="govuk-link" href="#" target="_blank">View the local land charges search results guidance (opens in new tab)</a></p>
    


    <h2 class="govuk-heading-m govuk-!-padding-top-6">Help using this service</h2>
    <p class="govuk-body">Contact HM Land Registry if you need help using this service or have technical queries.</p>
    
    
    <h3 class="govuk-heading-s">Telephone</h3>
    <p class="govuk-body">Telephone: 0300 006 0444<br/>
      Monday to Thursday, 8am to 5pm (except public holidays)</p>
    <p class="govuk-body">Welsh language: 0300 006 0422<br/>
        Monday to Thursday, 8.30am to 5pm (except public holidays)</p>
    <p class="govuk-body"><a class="govuk-link" href="#" target="_blank">Find out about call charges (opens in new tab)</a></p>



    <h3 class="govuk-heading-s">Online contact form</h3>
    <p class="govuk-body">Submit an enquiry through our&nbsp;<a class="govuk-link" href="contact" target="_blank">online contact form (opens in new tab)</a></p>



    <h2 class="govuk-heading-m govuk-!-padding-top-6">HM Land Registry general enquiries</h2>
    <p class="govuk-body">For other HM Land Registry queries, including land charges, use our <a class="govuk-link" href="#" target="_blank">general enquiries</a> contact us form.</p>
    <p class="govuk-body">You can also visit <a class="govuk-link" href="#" target="_blank">gov.uk/land-registry</a>.</p>

  </div>
</div>


{% endblock %}