<link rel="stylesheet" type="text/css" href="/public/css/portal_main.css">
<header class="hmlr-header">
    <div class="hmlr-header__container hmlr-width-container">
      <span class="tooltip-container">
        <a class="hmlr-header__link" href="/" aria-describedby="site-logo-link-description" data-tooltip-trigger>
          <img class="hmlr-header__logo" alt="HM Land Registry" src="/public/images/portal/hmlr-logo.svg" width="138" height="44">
        </a>
        <span id="site-logo-link-description" role="tooltip" class="tooltip tooltip--hidden">My Portal Home Page</span>
      </span>
      <nav class="hmlr-navigation" aria-label="Main">
        <button class="govuk-button hmlr-navigation__menu-toggle js-toggle-mobile-menu" aria-expanded="false" aria-controls="menu">
          <span class="hmlr-navigation__menu-toggle-inner">Menu</span>
        </button>
        <ul class="hmlr-navigation__list hmlr-navigation__list--top-level js-display-mobile-menu" id="menu">

              <li class="hmlr-navigation__list-item hmlr-govuk-link">
                <span class="tooltip-container tooltip-container--position-bottom-overlay">
                  <a class="govuk-body hmlr-navigation__action hmlr-govuk-link__action js-level-one" 
                    rel="noreferrer noopener" 
                    target="_blank" 
                    href="/"
                    aria-describedby="hmlr-link-description" 
                    data-tooltip-trigger
                  >
                    <span class="hmlr-govuk-link__span">HM Land Registry GOV.UK</span>
                  </a>
                  <span id="hmlr-link-description" role="tooltip" class="tooltip tooltip--hidden">Opens in new tab</span>
                </span>
              </li>













              <li class="hmlr-navigation__list-item hmlr-navigation__list-item--parent js-has-dropdown-menu">
                <button class="govuk-body hmlr-navigation__action hmlr-navigation__action--button hmlr-navigation__action--top-level js-level-one" aria-expanded="false">
                  Services
                </button>
                <ul class="hmlr-navigation__list hmlr-navigation__list--dropdown hmlr-navigation__list--dropdown-parent">
                      <li class="hmlr-navigation__dropdown-list-item">
                          <a class="govuk-body hmlr-navigation__action hmlr-navigation__action--dropdown js-level-two" href="#">
                            My Portal Home page
                          </a>
                      </li>
                      <li class="hmlr-navigation__dropdown-list-item">
                          <a class="govuk-body hmlr-navigation__action hmlr-navigation__action--dropdown js-level-two" href="start">
                            Search for local land charges
                          </a>
                      </li>
                      <li class="hmlr-navigation__dropdown-list-item hmlr-navigation__dropdown-list-item--child js-has-dropdown-menu">
                          <button class="govuk-body hmlr-navigation__action hmlr-navigation__action--button hmlr-navigation__action--dropdown js-level-two" aria-expanded="false">
                            Information Services
                          </button>
                          <ul class="hmlr-navigation__list hmlr-navigation__list--dropdown hmlr-navigation__list--dropdown-child">
                              <li class="hmlr-navigation__dropdown-list-item">
                                    <a class="govuk-body hmlr-navigation__action hmlr-navigation__action--dropdown js-level-three" href="#">
                                      Request Official copies
                                    </a>
                              </li>
                              <li class="hmlr-navigation__dropdown-list-item">
                                    <a class="govuk-body hmlr-navigation__action hmlr-navigation__action--dropdown js-level-three" href="#">
                                      Official Search of Whole with Priority
                                    </a>
                              </li>
                              <li class="hmlr-navigation__dropdown-list-item">
                                    <a class="govuk-body hmlr-navigation__action hmlr-navigation__action--dropdown js-level-three" href="#">
                                      Official Search of Part with Priority
                                    </a>
                              </li>
                              <li class="hmlr-navigation__dropdown-list-item">
                                    <a class="govuk-body hmlr-navigation__action hmlr-navigation__action--dropdown js-level-three" href="#">
                                      Withdraw Official Search with Priority
                                    </a>
                              </li>
                              <li class="hmlr-navigation__dropdown-list-item">
                                    <a class="govuk-body hmlr-navigation__action hmlr-navigation__action--dropdown js-level-three" href="#">
                                      Official Search of Whole without Priority
                                    </a>
                              </li>
                              <li class="hmlr-navigation__dropdown-list-item">
                                    <a class="govuk-body hmlr-navigation__action hmlr-navigation__action--dropdown js-level-three" href="#">
                                      Local Land Charges Search
                                    </a>
                              </li>
                              <li class="hmlr-navigation__dropdown-list-item">
                                    <span class="tooltip-container tooltip-container--position-left">
                                      <a class="govuk-body hmlr-navigation__action hmlr-navigation__action--dropdown js-level-three" 
                                        href="#" 
                                        rel="noreferrer noopener" 
                                        target="_blank"
                                        aria-describedby="mapsearch-link-description" 
                                        data-tooltip-trigger
                                      >
                                        MapSearch  *** FREE ***
                                      </a>
                                      <span id="mapsearch-link-description" role="tooltip" class="tooltip tooltip--hidden">Opens in new tab</span>
                                    </span>
                              </li>
                              <li class="hmlr-navigation__dropdown-list-item">
                                    <a class="govuk-body hmlr-navigation__action hmlr-navigation__action--dropdown js-level-three" href="#">
                                      Application Enquiry *** FREE ***
                                    </a>
                              </li>
                              <li class="hmlr-navigation__dropdown-list-item">
                                    <a class="govuk-body hmlr-navigation__action hmlr-navigation__action--dropdown js-level-three" href="#">
                                      Search of the Index Map
                                    </a>
                              </li>
                              <li class="hmlr-navigation__dropdown-list-item">
                                    <a class="govuk-body hmlr-navigation__action hmlr-navigation__action--dropdown js-level-three" href="#">
                                      Home Rights Search
                                    </a>
                              </li>
                              <li class="hmlr-navigation__dropdown-list-item">
                                    <a class="govuk-body hmlr-navigation__action hmlr-navigation__action--dropdown js-level-three" href="#">
                                      Search of the Index of Relating Franchises and Manors
                                    </a>
                              </li>
                              <li class="hmlr-navigation__dropdown-list-item">
                                    <a class="govuk-body hmlr-navigation__action hmlr-navigation__action--dropdown js-level-three" href="#">
                                      Enquiry by Property Description - Title View
                                    </a>
                              </li>
                              <li class="hmlr-navigation__dropdown-list-item">
                                    <a class="govuk-body hmlr-navigation__action hmlr-navigation__action--dropdown js-level-three" href="#">
                                      Register View - pdf
                                    </a>
                              </li>
                              <li class="hmlr-navigation__dropdown-list-item">
                                    <a class="govuk-body hmlr-navigation__action hmlr-navigation__action--dropdown js-level-three" href="#">
                                      Register View - html
                                    </a>
                              </li>
                              <li class="hmlr-navigation__dropdown-list-item">
                                    <a class="govuk-body hmlr-navigation__action hmlr-navigation__action--dropdown js-level-three" href="#">
                                      Title Plan View
                                    </a>
                              </li>
                              <li class="hmlr-navigation__dropdown-list-item">
                                    <a class="govuk-body hmlr-navigation__action hmlr-navigation__action--dropdown js-level-three" href="#">
                                      Document View
                                    </a>
                              </li>
                              <li class="hmlr-navigation__dropdown-list-item">
                                    <a class="govuk-body hmlr-navigation__action hmlr-navigation__action--dropdown js-level-three" href="#">
                                      Request Historical copies
                                    </a>
                              </li>
                          </ul>
                      </li>
                      <li class="hmlr-navigation__dropdown-list-item hmlr-navigation__dropdown-list-item--child js-has-dropdown-menu">
                          <button class="govuk-body hmlr-navigation__action hmlr-navigation__action--button hmlr-navigation__action--dropdown js-level-two" aria-expanded="false">
                            Land Charges Services
                          </button>
                          <ul class="hmlr-navigation__list hmlr-navigation__list--dropdown hmlr-navigation__list--dropdown-child">
                              <li class="hmlr-navigation__dropdown-list-item">
                                    <a class="govuk-body hmlr-navigation__action hmlr-navigation__action--dropdown js-level-three" href="#">
                                      Bankruptcy Search
                                    </a>
                              </li>
                              <li class="hmlr-navigation__dropdown-list-item">
                                    <a class="govuk-body hmlr-navigation__action hmlr-navigation__action--dropdown js-level-three" href="#">
                                      Full Search
                                    </a>
                              </li>
                              <li class="hmlr-navigation__dropdown-list-item">
                                    <a class="govuk-body hmlr-navigation__action hmlr-navigation__action--dropdown js-level-three" href="#">
                                      Office Copy
                                    </a>
                              </li>
                              <li class="hmlr-navigation__dropdown-list-item">
                                    <a class="govuk-body hmlr-navigation__action hmlr-navigation__action--dropdown js-level-three" href="#">
                                      Registration View
                                    </a>
                              </li>
                          </ul>
                      </li>
                      <li class="hmlr-navigation__dropdown-list-item">
                          <a class="govuk-body hmlr-navigation__action hmlr-navigation__action--dropdown js-level-two" href="#">
                            Digital Registration Service
                          </a>
                      </li>
                      <li class="hmlr-navigation__dropdown-list-item">
                          <a class="govuk-body hmlr-navigation__action hmlr-navigation__action--dropdown js-level-two" href="#">
                            Reply to Requisition
                          </a>
                      </li>
                      <li class="hmlr-navigation__dropdown-list-item hmlr-navigation__dropdown-list-item--child js-has-dropdown-menu">
                          <button class="govuk-body hmlr-navigation__action hmlr-navigation__action--button hmlr-navigation__action--dropdown js-level-two" aria-expanded="false">
                            General Facilities
                          </button>
                          <ul class="hmlr-navigation__list hmlr-navigation__list--dropdown hmlr-navigation__list--dropdown-child">
                              <li class="hmlr-navigation__dropdown-list-item">
                                    <a class="govuk-body hmlr-navigation__action hmlr-navigation__action--dropdown js-level-three" href="#">
                                      Message area
                                    </a>
                              </li>
                              <li class="hmlr-navigation__dropdown-list-item">
                                    <a class="govuk-body hmlr-navigation__action hmlr-navigation__action--dropdown js-level-three" href="#">
                                      Services Requested
                                    </a>
                              </li>
                              <li class="hmlr-navigation__dropdown-list-item">
                                    <a class="govuk-body hmlr-navigation__action hmlr-navigation__action--dropdown js-level-three" href="#">
                                      PDF Downloads
                                    </a>
                              </li>
                              <li class="hmlr-navigation__dropdown-list-item">
                                    <a class="govuk-body hmlr-navigation__action hmlr-navigation__action--dropdown js-level-three" href="#">
                                      Notifications
                                    </a>
                              </li>
                          </ul>
                      </li>
                      <li class="hmlr-navigation__dropdown-list-item hmlr-navigation__dropdown-list-item--child js-has-dropdown-menu">
                          <button class="govuk-body hmlr-navigation__action hmlr-navigation__action--button hmlr-navigation__action--dropdown js-level-two" aria-expanded="false">
                            Administrative Services
                          </button>
                          <ul class="hmlr-navigation__list hmlr-navigation__list--dropdown hmlr-navigation__list--dropdown-child">
                              <li class="hmlr-navigation__dropdown-list-item">
                                    <a class="govuk-body hmlr-navigation__action hmlr-navigation__action--dropdown js-level-three" href="#">
                                      Alternative despatch address
                                    </a>
                              </li>
                              <li class="hmlr-navigation__dropdown-list-item">
                                    <a class="govuk-body hmlr-navigation__action hmlr-navigation__action--dropdown js-level-three" href="#">
                                      Personal details
                                    </a>
                              </li>
                              <li class="hmlr-navigation__dropdown-list-item">
                                    <a class="govuk-body hmlr-navigation__action hmlr-navigation__action--dropdown js-level-three" href="#">
                                      Change password
                                    </a>
                              </li>
                          </ul>
                      </li>
                </ul>
              </li>







              <li class="hmlr-navigation__list-item">
                <span class="tooltip-container tooltip-container--position-bottom-overlay">
                  <a 
                    class="govuk-body hmlr-navigation__action js-level-one" 
                    rel="noreferrer noopener" 
                    target="_blank" 
                    href="#"
                    aria-describedby="contact-us-link-description"
                    data-tooltip-trigger
                  >
                    Contact us
                  </a>
                  <span id="contact-us-link-description" role="tooltip" class="tooltip tooltip--hidden">Opens in new tab</span>
                </span>
              </li>







              <li class="hmlr-navigation__list-item hmlr-navigation__list-item--parent js-has-dropdown-menu">
                <button class="govuk-body hmlr-navigation__action hmlr-navigation__action--button hmlr-navigation__action--top-level js-level-one" aria-expanded="false">
                  Portal User
                </button>
                <ul class="hmlr-navigation__list hmlr-navigation__list--dropdown hmlr-navigation__list--dropdown-parent">
                  <li class="govuk-body hmlr-navigation__dropdown-list-item hmlr-navigation__dropdown-list-item--user-account-menu">
                    <div class="hmlr-user-account-menu">
                      <div class="hmlr-user-account-menu__container">
                        <div class="hmlr-user-account-menu__title">
                          Logged in as:
                        </div>
                          <div class="hmlr-user-account-menu__details">
                            General Access and eDRS
                          </div>
                      </div>
                      <div class="hmlr-user-account-menu__container">
                        <div class="hmlr-user-account-menu__title">
                          User ID:
                        </div>
                          <div class="hmlr-user-account-menu__details">
                            portal_user_9000
                          </div>
                      </div>
                      <div class="hmlr-user-account-menu__container">
                        <div class="hmlr-user-account-menu__title">
                          You last logged in on
                        </div>
                          <div class="hmlr-user-account-menu__details">
                            23 October 2024 05:26:47 BST
                          </div>
                            <br>
                          <div class="hmlr-user-account-menu__details">
                              If these details are incorrect, please logout and contact us.
                          </div>
                      </div>
                      <div class="hmlr-user-account-menu__container">
                        <div class="hmlr-user-account-menu__title">
                          Primary Business Unit Administrator (BUA):
                        </div>
                          <div class="hmlr-user-account-menu__details">
                            HMLR Admin
                          </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>







              <li class="hmlr-navigation__list-item">
                <a class="govuk-body hmlr-navigation__action js-level-one" id="loginPageLink" href="#">
                  Log out
                </a>
              </li>

        </ul>
      </nav>
    </div>
  </header>