

{% extends "layouts/frontendCCA.html" %}
{% set serviceName= "Register your contractual control" %}

{% set pageName="CCA data sheet" %}

{% block beforeContent %}
{% include "includes/phase-banner-CCA.html" %}
{% include "includes/language-switcher-2025.html" %}
{% endblock %}


{% block content %}
<style>
.govuk-summary-list__actions, .govuk-summary-list__key {
  vertical-align: top;
}
.govuk-service-navigation__service-name:not(:last-child){
  margin-right: 0 ! important;
}

</style>



  <div class="govuk-grid-row govuk-!-padding-top-9">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Contractual Control Agreement</h1>
    </div>

    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Contract details
          </h2>
        </div>
        <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list ">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Title number
          </dt>
          <dd class="govuk-summary-list__value">
            CS254667
          </dd>
          <!--<dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
          </dd> -->
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Legal document
          </dt>
          <dd class="govuk-summary-list__value">
            Transfer
          </dd>
          <!--<dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
          </dd> -->
        </div>        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Legal representative registration
          </dt>
          <dd class="govuk-summary-list__value">
            637488
          </dd>
          <!--<dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
          </dd> -->
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Legal registration number
          </dt>
          <dd class="govuk-summary-list__value">
            11099
          </dd>
          <!--<dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
          </dd> -->
        </div> 
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type of contractual control
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">
              Pre-emption Agreement<br/>
            </p>
          </dd>
          <!--<dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
          </dd> -->
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Territorial extent
          </dt>
          <dd class="govuk-summary-list__value">
            Whole of the boundary
          </dd>
          <!--<dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
          </dd> -->
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Other territorial extent
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Yes</p>
          </dd>
          <!--<dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
          </dd> -->
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Boundary
          </dt>
          <dd class="govuk-summary-list__value">
            <img src="/public/images/CCA/boundary2.png" alt="Map of charge extent" >
          </dd>
          <!--<dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
          </dd> -->
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Agreement date
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">4 April 2025</p>
          </dd>
          <!--<dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
          </dd> -->
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Expiry date
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">3 April 2035</p>
          </dd>
          <!--<dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
          </dd> -->
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is there an ability to extend this Contractual Control?
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Yes</p>
          </dd>
          <!--<dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
          </dd> -->
        </div> 
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Conditions for contract extension
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">
              Further payments</br>
              Both parties agreeing</br>
              Planning permission</br>
              </p>
          </dd>
          <!--<dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
          </dd> -->
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Grantee name
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">XLS Property Development Ltd</p>
          </dd>
          <!--<dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
          </dd> -->
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Grantee registration body
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Companies House</p>
          </dd>
          <!--<dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
          </dd> -->
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Grantee company number
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">017998055</p>
          </dd>
          <!--<dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
          </dd> -->
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Grantor name 
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Mrs Field Owner</p>
          </dd>
          <!--<dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
          </dd> -->
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Grantor registration body
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">An individual</p>
          </dd>
          <!--<dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
          </dd> -->
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Grantor company number
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Not applicable</p>
          </dd>
          <!--<dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
          </dd> -->
        </div>
      </dl>
      </div>
      </div>

    </div>


    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-s">View the data</h3>
      <p class="govuk-body-s">You can explore this data</p>
      <ul class="govuk-list">
        <li><a class="govuk-link govuk-link--no-visited-state govuk-body-s" href="#">On a map</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state govuk-body-s" href="#">As a list</a></li>
      </ul>

      <h3 class="govuk-heading-s">Download the data</h3>
      <p class="govuk-body-s">You can take a copy of this data as</p>
      <ul class="govuk-list">
        <li><a class="govuk-link govuk-link--no-visited-state govuk-body-s" href="#">CSV</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state govuk-body-s" href="#">JSON</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state govuk-body-s" href="#">GeoJSON</a></li>
      </ul>

      <h3 class="govuk-heading-s">Dataset definition </h3>
      <p class="govuk-body-s">You can view the definition of this dataset including the list of fields</p>
      <ul class="govuk-list">
        <li><a class="govuk-link govuk-link--no-visited-state govuk-body-s" href="#">Dataset definition for Contractual Control Agreements</a></li>
      </ul>  
    </div>


  

  </div>


{% endblock %}