{% extends "layouts/main.html" %}

{% set pageName="List of categories - Search for local land charges - GOV.UK" %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/language-switcher-heading.html" %}
{% endblock %}

{% block content %}
<main class="govuk-main-wrapper" id="main-content" role="main">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">List of categories</h1>

      <div class="govuk-!-padding-bottom-6">
        <h2 class="govuk-heading-m"> Planning</h2>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-visually-hidden">Sub-categories and instruments</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Sub-category</th>
              <th scope="col" class="govuk-table__header">Instrument</th>
              <th scope="col" class="govuk-table__header">Last updated</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Conditional planning consent</td>
              <td class="govuk-table__cell">Planning permission</td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Conservation area</td>
              <td class="govuk-table__cell">Notice</td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Enforcement notice</td>
              <td class="govuk-table__cell">Notice</td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Modification / rectification orders</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">No permitted development / article 4</td>
              <td class="govuk-table__cell">Direction</td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Planning agreement</td>
              <td class="govuk-table__cell">Agreement</td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Planning notice</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">23 May 2024</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Planning order</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Tree preservation order (TPO)</td>
              <td class="govuk-table__cell">Order</td>
              <td class="govuk-table__cell">21 May 2024</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="govuk-!-padding-bottom-6">
        <h2 class="govuk-heading-m">Financial</h2>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-visually-hidden">Sub-categories and instruments</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Sub-category</th>
              <th scope="col" class="govuk-table__header">Instrument</th>
              <th scope="col" class="govuk-table__header">Last updated</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
          </tbody>
        </table>
        <p class="govuk-body">Category has no sub-categories</p>
      </div>


      <div class="govuk-!-padding-bottom-6">
        <h2 class="govuk-heading-m">Listed building</h2>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-visually-hidden">Sub-categories and instruments</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Sub-category</th>
              <th scope="col" class="govuk-table__header">Instrument</th>
              <th scope="col" class="govuk-table__header">Last updated</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Enforcement notice</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Listed building</td>
              <td class="govuk-table__cell">List</td>
              <td class="govuk-table__cell"></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="govuk-!-padding-bottom-6">
        <h2 class="govuk-heading-m">Land compensation</h2>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-visually-hidden">Sub-categories and instruments</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Sub-category</th>
              <th scope="col" class="govuk-table__header">Instrument</th>
              <th scope="col" class="govuk-table__header">Last updated</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
          </tbody>
        </table>
        <p class="govuk-body">Category has no sub-categories</p>
      </div>

      <div class="govuk-!-padding-bottom-6">
        <h2 class="govuk-heading-m">Housing / buildings</h2>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-visually-hidden">Sub-categories and instruments</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Sub-category</th>
              <th scope="col" class="govuk-table__header">Instrument</th>
              <th scope="col" class="govuk-table__header">Last updated</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Grant</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Occupancy including house in multiple occupation (HMO)</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Right to buy / right to acquire</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Works, repairs or authority action</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="govuk-!-padding-bottom-6">
        <h2 class="govuk-heading-m"> Light obstruction notice </h2>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-visually-hidden">Sub-categories and instruments</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Sub-category</th>
              <th scope="col" class="govuk-table__header">Instrument</th>
              <th scope="col" class="govuk-table__header">Last updated</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
          </tbody>
        </table>
        <p class="govuk-body">Category has no sub-categories</p>
      </div>

      <div class="govuk-!-padding-bottom-6">
        <h2 class="govuk-heading-m">Other</h2>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-visually-hidden">Sub-categories and instruments</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Sub-category</th>
              <th scope="col" class="govuk-table__header">Instrument</th>
              <th scope="col" class="govuk-table__header">Last updated</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Ancient monuments</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Assets of community value</td>
              <td class="govuk-table__cell">List</td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Civil aviation</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Compulsory purchase or acquisition</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Conservation covenant</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Highways and paths</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Licence</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Local acts</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">New towns</td>
              <td class="govuk-table__cell">Order</td>
              <td class="govuk-table__cell">30 May 2024</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Opencast coal</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Other covenant</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">30 May 2024</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Pipeline</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Protected areas / sites</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Smoke control order</td>
              <td class="govuk-table__cell">Order</td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Uncommon charges</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">20 March 2024</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Water / drainage / environmental</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="govuk-!-padding-bottom-6">
        <h2 class="govuk-heading-m">For information only</h2>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-visually-hidden">Sub-categories and instruments</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Sub-category</th>
              <th scope="col" class="govuk-table__header">Instrument</th>
              <th scope="col" class="govuk-table__header">Last updated</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">This does not constitute a charge.</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
          </tbody>
        </table>
      </div>


    </div>

  </div>

  </div>
</main>
{% endblock %}