{% extends "layouts/main.html" %}

{% set serviceName= "Maintain LLC" %}
{% set pageName="Charge description - Maintain Local land charges - GOV.UK" %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/language-switcher-heading.html" %}
{% endblock %}

{% block content %}
<main class="govuk-main-wrapper" id="main-content" role="main">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="more-detail">
            Charge description (optional)?
          </label>
        </h1>
        <div id="more-detail-hint" class="govuk-hint">
          Any other information about this charge. This can be information that will help someone researching this charge. You shouldn't include personal information here, for exmaple a telephone number or email.
        </div>
        <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
        <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
          Answer must be shorter than 1500 characters (about 250 words)
        </div>
      </div>

      {{ govukButton({
        text: "Continue",
        href:"check-your-answers"
      }) }}
    </div>

  </div>

</main>
{% endblock %}