{% extends "layouts/main.html" %}

{% set pageName="Local land charges search results - GOV.UK" %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/language-switcher-heading.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--xl" for="more-detail">
        Local Land Charges
      </label>
    </h1>

    <h2 class="govuk-heading-l govuk-!-padding-top-6">Submit an enquiry</h2>

    <p class="govuk-body">Use this form for enquiries about local land charges only.</p>
    <p class="govuk-body">For other HM Land Registry matters, including land charges,<br>
      try our&nbsp;<a class="govuk-link" href="contact-general" target="_blank">general enquiries</a>&nbsp;contact us
      form</p>


    <form action="" method="" novalidate>
      <div class="govuk-form-group">

        <div class="govuk-form-group">
          <label class="govuk-label" for="event-name">
            First name
          </label>
          <input class="govuk-input govuk-input--width-10" id="event-name" name="eventName" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="event-name">
            Last name
          </label>
          <input class="govuk-input govuk-input--width-10" id="event-name" name="eventName" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="event-name">
            Telephone number
          </label>
          <input class="govuk-input govuk-input--width-10" id="event-name" name="eventName" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="event-name">
            Email address
          </label>
          <input class="govuk-input govuk-input--width-20" id="event-name" name="eventName" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="event-name">
            Confirm Email address
          </label>
          <input class="govuk-input govuk-input--width-20" id="event-name" name="eventName" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="more-detail">
            What is your enquiry about?
          </label>
          <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
        </div>
      </div>

      <div class="govuk-!-padding-bottom-9" >
      <label class="govuk-label" for="more-detail">
        Attach a document (optional)
      </label>
      <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file" aria-describedby="file-upload-1-hint">


      </div>
      {{ govukButton({
      text: "Submit",
      href:""
      }) }}
    </form>
  </div>
</div>


{% endblock %}