{% extends "layouts/main.html" %}

{% set pageName="Local land charges search results - GOV.UK" %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/language-switcher-heading.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Local land charges for <br />
      9 Newbury Street, London, EC1A 7HU
    </h1>

    <div class="govuk-!-padding-bottom-4">
      <img src="/public/images/number9.png" alt="Map showing search area for 9 Newbury Street, London EC1A 7HU"
        style="height:300px">
      <figcaption class="govuk-body-s">The dotted line shows the area you have searched</figcaption>
    </div>

    <p>There are 9 local land charges for your search area.</p>
    <p>There are also 8 local land charges that border your search area.</p>
    <p>Not the right area? <a href="search">Search again</a>.</p>

    {% include "includes/migration-guidance.html" %}

    <h2 class="chargeCategory heading-medium govuk-heading-l">Planning</h2>

    {% set charges = data.charges.categories[0].charges %}
    {% for charge in charges %}
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">{{ charge.location | safe }}
        </h2>
        <p class='govuk-body govuk-!-padding-top-1'>
          {% if charge.isSearchArea == "true" %}
          <strong class="govuk-tag govuk-!-text-align-right align-tag-right">Search area</strong>
          {% endif %}
        </p>
      </div>

      <div class="govuk-summary-card__content">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            {% if charge.isSearchArea == "true" %}
            {% if loop.index == "4" %}
            <img src="/public/images/number9/charge_13.png" {% elseif loop.index=="5" %} <img
              src="/public/images/number9/charge_12.png" {% elseif loop.index=="8" %} <img
              src="/public/images/number9/charge_13.png" {% else %} <img src="/public/images/number9.png" {% endif %} {%
              else %} {% set items=[1,2,3,4,3,3,4,3,3] %} {% set count=loop.index - 9 %} {% set image=items[count]%}
              <img src="/public/images/number9/address{{image}}.png" {% endif %}
              alt="Map showing charge area for '9 Newbury Street, London, EC1A 7HU'" style="height:120px">
            <!-- <figcaption class="govuk-body-s">Map showing charge area</figcaption> -->
          </div>
          <div class="govuk-grid-column-two-thirds">
            <p class='govuk-body'>{{ charge.description | safe }}</p>
          </div>
        </div>


        <dl class="govuk-summary-list govuk-!-margin-top-6 govuk-!-margin-bottom-0">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Registration Date
            </dt>
            <dd class="govuk-summary-list__value">
              {{ charge.registrationDate }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Creation Date
            </dt>
            <dd class="govuk-summary-list__value">
              {{ charge.creationDate }}
            </dd>
          </div>
<!--           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              {{ charge.location | safe }}
            </dd>
          </div> -->
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Authority Reference
            </dt>
            <dd class="govuk-summary-list__value">
              {{ charge.authorityReference }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              HM Land Registry reference
            </dt>
            <dd class="govuk-summary-list__value">
              {{ charge.hmlrReference }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Originating Authority
            </dt>
            <dd class="govuk-summary-list__value">
              {{ charge.originatingAuthority }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Subcategory
            </dt>
            <dd class="govuk-summary-list__value">
              {{ charge.subcategory }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Legal document
            </dt>
            <dd class="govuk-summary-list__value">
              {{ charge.legalDocument }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Law
            </dt>
            <dd class="govuk-summary-list__value">
              {{ charge.law }}
            </dd>
          </div>
        </dl>
      </div>
    </div>


    {% endfor %}

  </div>



  <div class="govuk-grid-column-one-third">

    <aside class="app-related-items govuk-!-margin-bottom-2" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Download an official search result for £15
      </h2>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Benefits of an official search
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body-s">By purchasing an official search result from us, you’ll receive a document that:</p>
          <ul class="govuk-list govuk-list--bullet govuk-body-s">
            <li>is secure and digitally signed by HM Land Registry</li>
            <li>highlights local land charge boundaries on a map</li>
            <li>enables you to get free, repeat searches for 6 months</li>
            <li>includes a link to the source information</li>
          </ul>

      </details>
      <button class="govuk-button" data-module="govuk-button" style="width:100%"
        onclick="window.location.href='singleaddress.html'">
        Pay now
      </button>
    </aside>

  </div>
</div>


{% endblock %}