        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">{{ charge.location | safe }} 
            </h2>
            <p class='govuk-body govuk-!-padding-top-1'>
              {% if charge.isSearchArea == "true" %}
              <strong class="govuk-tag govuk-!-text-align-right align-tag-right">Search area</strong>
              {% endif %}
            </p>
          </div>
    
          <div class="govuk-summary-card__content">
            <div class="govuk-grid-row">
              
                {% if charge.isSearchArea == "true" %}
                <div class="govuk-grid-column-full">
                  <p class='govuk-body'>{{ charge.description | safe }}</p>
                </div>
                {% else %} 

                <div class="govuk-grid-column-one-third">
                  {% set items=[1,2,3,4,3,3,4,3,3] %} 
                  {% set count=loop.index - 9 %} 
                  {% if count < 0 %}
                    {% set count = count+ 10 %}
                  {% endif %}
                  {% set image=items[count]%}
                  <img src="/public/images/number9/address{{image}}.png"  alt="Map showing charge area for '9 Newbury Street, London, EC1A 7HU'" style="height:120px">
                  <!-- <figcaption class="govuk-body-s">Map showing charge area</figcaption> -->
                </div>
                <div class="govuk-grid-column-two-thirds">
                  <p class='govuk-body'>{{ charge.description | safe }}</p>
                </div>
                {% endif %}
    
               
            </div>
    
    
            <dl class="govuk-summary-list govuk-!-margin-top-6 govuk-!-margin-bottom-0">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-third">
                  Registration Date
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ charge.registrationDate }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Creation Date
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ charge.creationDate }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Authority Reference
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ charge.authorityReference }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  HM Land Registry reference
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ charge.hmlrReference }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Originating Authority
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ charge.originatingAuthority }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Subcategory
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ charge.subcategory }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Legal document
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ charge.legalDocument }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Law
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ charge.law }}
                </dd>
              </div>
            </dl>
          </div>
        </div>