{% extends "layouts/main.html" %}

{% set serviceName = "" %}
{% set pageName = "HM Land Registry: Local land charges software suppliers - GOV.UK" %}

{% block beforeContent %}
<div class="govuk-width-container">
  {% include "includes/breadcrumb_guidance.html" %}
</div>
<style>
  .gem-c-devolved-nations {
    background: #f3f2f1;
  margin-bottom: 50px;
  padding: 20px 30px;
}
  .gem-c-single-page-notification-button__submit {
    padding: 10px;
    margin: 0;
    border: 1px solid #b1b4b6;
    color: #1d70b8;
    cursor: pointer;
    background: none;
  }

  .gem-c-single-page-notification-button__icon {
    color: #0b0c0c;
    vertical-align: top;
    margin-right: 5px;
  }
</style>
{% endblock %}


{% block content %}
<div class="govuk-width-container {{ containerClasses }}">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Guidance</span>
      <h1 class="govuk-heading-l">
        HM Land Registry: Local land charges software suppliers
      </h1>

      <p class="govuk-body-l">[The following software suppliers are contracted to work with HM Land Registry to support local authorities with the Local land charges service.]</p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<p class="govuk-body-s">From: HM Land Registry<br/>
Published 31 August 2017</p>




 



      <div class="published-dates-button-group">
        <div data-module="gem-track-click ga4-link-tracker" class="govuk-!-display-none-print govuk-!-margin-bottom-3">
          <form class="gem-c-single-page-notification-button" action="/email/subscriptions/single-page/new"
            method="POST" data-track-label="/guidance/hm-land-registry-business-gateway"
            data-track-action="Subscribe-button-bottom" data-track-category="Single-page-notification-button"
            data-button-location="bottom" data-button-text-subscribe="Get emails about this page"
            data-button-text-unsubscribe="Stop getting emails about this page">
            <input type="hidden" name="base_path" value="/guidance/hm-land-registry-business-gateway">
            <button class="govuk-body-s gem-c-single-page-notification-button__submit" type="submit"
              data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;subscribe&quot;,&quot;index&quot;:{&quot;index_link&quot;:2},&quot;index_total&quot;:2,&quot;section&quot;:&quot;Footer&quot;,&quot;url&quot;:&quot;/email/subscriptions/single-page/new&quot;}">
              <svg class="gem-c-single-page-notification-button__icon" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" height="18" width="18" viewBox="0 0 459.334 459.334">
                <path fill="currentColor"
                  d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z">
                </path>
              </svg><span class="gem-c-single-page-notication-button__text">Get emails about this page</span>
            </button>
          </form>
        </div>

      </div>
      </div>
      </div>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      <section class="gem-c-devolved-nations">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
          Applies to England and Wales
        </h2>
      </section>

      <p>The following software suppliers are contracted to work with HM Land Registry to support local authorities with the Local land charges service</p>

      <div class="govuk-inset-text">
        HM Land Registry does not recommend or endorse any one product or service over another and will not be responsible for any loss, damage, cost or expense in connection with using this software. 
      </div>
     
      <p>Please contact the software supplier to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>ensure the software product meets your specific needs</li>
        <li>provide support</li>
        <li>request further information about the software</li>
      </ul>


      <table class="govuk-table govuk-!-margin-top-9">
        <caption class="govuk-table__caption govuk-table__caption--m">Software suppliers</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Software suppliers</th>
            <th scope="col" class="govuk-table__header govuk-table__header">Migration&nbsp;and<br/>live support</th>
            <th scope="col" class="govuk-table__header govuk-table__header">Data extracts</th>
            <th scope="col" class="govuk-table__header govuk-table__header">Data imports</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Agile Applications Ltd</th>
            <td class="govuk-table__cell govuk-table__cell">Yes</td>
            <td class="govuk-table__cell govuk-table__cell">Yes</td>
            <td class="govuk-table__cell govuk-table__cell">Yes</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Arcus Global Ltd</th>
            <td class="govuk-table__cell govuk-table__cell">Yes</td>
            <td class="govuk-table__cell govuk-table__cell">Yes</td>
            <td class="govuk-table__cell govuk-table__cell">Yes</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">DEF Software Ltd</th>
            <td class="govuk-table__cell govuk-table__cell">Yes</td>
            <td class="govuk-table__cell govuk-table__cell">Yes</td>
            <td class="govuk-table__cell govuk-table__cell">Yes</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Idox Software Ltd</th>
            <td class="govuk-table__cell govuk-table__cell">Yes</td>
            <td class="govuk-table__cell govuk-table__cell">Yes</td>
            <td class="govuk-table__cell govuk-table__cell">Yes</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">NEC Software Solutions UK Limited</th>
            <td class="govuk-table__cell govuk-table__cell">Yes</td>
            <td class="govuk-table__cell govuk-table__cell">Yes</td>
            <td class="govuk-table__cell govuk-table__cell">Yes</td>
          </tr>
<!--           <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"></th>
            <td class="govuk-table__cell govuk-table__cell"></td>
            <td class="govuk-table__cell govuk-table__cell"></td>
            <td class="govuk-table__cell govuk-table__cell"></td>
          </tr> -->
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Ocella Software Systems</th>
            <td class="govuk-table__cell govuk-table__cell">Yes</td>
            <td class="govuk-table__cell govuk-table__cell">No</td>
            <td class="govuk-table__cell govuk-table__cell">Yes</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">StatMap</th>
            <td class="govuk-table__cell govuk-table__cell">No</td>
            <td class="govuk-table__cell govuk-table__cell">No</td>
            <td class="govuk-table__cell govuk-table__cell">No</td>
          </tr>
        </tbody>
      </table>
      
      <div class="govuk-!-margin-top-9 govuk-!-margin-bottom-9">

        <p>The following Local land charges software solutions have at least one local authority using the Application Process Interface API in live service to enable them to add, vary and cancel local land charges</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="">NEC M3</a></li>
          <li><a href="">DEF Mastergov</a></li>
          <li><a href="">Idox TLC</a></li>
        </ul>
        
      </div>


      <h2 class="govuk-heading-m">
        Help and support
      </h2>
      <p>If you have a query about software suppliers, please contact us, either:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>with our <a href="#">contact form</a></li>
        <li>by phone 0300 006 0478</li>
      </ul>

    </div>






    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-link govuk-body-s" style="margin-right:-20px" ;>
            <li>
              <a href="#" class="govuk-link">HM Land Registry Network Access Agreement</a>
            </li>
            <li>
              <a href="#" class="govuk-link">HM Land Registry electronic Document Registration Service (e-DRS)</a>
            </li>
            <li>
              <a href="#" class="govuk-link">HM Land Registry Network Services</a>
            </li>
            <li>
              <a href="#" class="govuk-link">Join the Business Gateway Community</a>
            </li>
            <li>
              <a href="#" class="govuk-link">Set up a variable Direct Debit to pay for HM Land Registry services</a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="published-dates-button-group">
        <div data-module="gem-track-click ga4-link-tracker" class="govuk-!-display-none-print govuk-!-margin-bottom-3">
          <form class="gem-c-single-page-notification-button" action="/email/subscriptions/single-page/new"
            method="POST" data-track-label="/guidance/hm-land-registry-business-gateway"
            data-track-action="Subscribe-button-bottom" data-track-category="Single-page-notification-button"
            data-button-location="bottom" data-button-text-subscribe="Get emails about this page"
            data-button-text-unsubscribe="Stop getting emails about this page">
            <input type="hidden" name="base_path" value="/guidance/hm-land-registry-business-gateway">
            <button class="govuk-body-s gem-c-single-page-notification-button__submit" type="submit"
              data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;subscribe&quot;,&quot;index&quot;:{&quot;index_link&quot;:2},&quot;index_total&quot;:2,&quot;section&quot;:&quot;Footer&quot;,&quot;url&quot;:&quot;/email/subscriptions/single-page/new&quot;}">
              <svg class="gem-c-single-page-notification-button__icon" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" height="18" width="18" viewBox="0 0 459.334 459.334">
                <path fill="currentColor"
                  d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z">
                </path>
              </svg><span class="gem-c-single-page-notication-button__text">Get emails about this page</span>
            </button>
          </form>
        </div>

      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-s">
          Explore the topic
        </h2>
        <ul class="govuk-list govuk-link govuk-body-s" style="margin-right:-20px" ;>
          <li>
            <strong><a href="#" class="govuk-link">Housing and communities</a></strong>
          </li>
          <li>
            <strong><a href="#" class="govuk-link">Business and industry</a></strong>
          </li>
        </ul>
      </aside>

    </div>
  </div>

  <hr
    class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-static-margin-top-9 govuk-!-static-padding-top-9 govuk-!-static-padding-bottom-6">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-static-padding-top-4 govuk-!-static-padding-left-8">
      <h2 class="govuk-heading-m">
        Help us improve GOV.UK
      </h2>
      <p class="govuk-body">To help us improve GOV.UK, we’d like to know more about your visit today. We’ll send you a
        link to a feedback form. It will take only 2 minutes to fill in. Don’t worry we won’t send you spam or share
        your email address with anyone.</p>
      <div class="govuk-form-group">
        <label class="govuk-label" for="email">
          Email address
        </label>
        <input class="govuk-input govuk-!-width-full" id="email" name="email" type="email" spellcheck="false"
          aria-describedby="email-hint" autocomplete="email">
      </div>

      <button class="govuk-button" data-module="govuk-button" onclick="window.location.href='search'">
        Send me the survey
      </button>

    </div>
  </div>

</div>
{% endblock %}