{% extends "layouts/main.html" %}
{% set pageName="Local land charges search results - GOV.UK" %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/language-switcher-heading.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-fifth">

      <div class="user-sidebar">
      <a href="/my-account">Manage account</a>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p class="govuk-heading-m">My searches</p>
      <div>
        <div class="panel-blue">
          <a href="/active-searches">Active searches</a>
        </div>
      </div>
      <div>
        <a href="/expired-searches">Expired searches</a>
      </div>
      <div>
        <a href="/free-searches">Free searches</a>
      </div>
    </div>
  </div>
  <div class="govuk-grid-column-four-fifths">

    <h1 class="govuk-heading-l">Active searches</h1>

    <div class="govuk-form-group">
      <label class="govuk-label" for="event-name">
        Search by reference or area
      </label>
      <div id="event-name-hint" class="govuk-hint">
      </div>
      <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
      <a href="accordion-with-image" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Search
      </a>
    </div>
    
    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

      {% for charge in data.charges.categories[0].charges | slice(5) %}
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <div class="govuk-accordion__section-button" id="accordion-default-heading-1">
              <div class="govuk-grid-row">

                <div class="govuk-grid-column-one-half">
                  <span class="govuk-body"><strong>{{loop.index + 52}} Victoria Street,<br/>Exeter<br/>EX8 6GG</strong></span>
                </div>
                <div class="govuk-grid-column-one-quarter">
                  <span class="govuk-body">000 0000 00{{loop.index + 3 * loop.index }}</span>
                </div>
                <div class="govuk-grid-column-one-quarter">
                  <span class="govuk-body">20 January 2024</span>
                </div>
              </div>
            </div>
          </h2>
        </div>
  
  
        <div id="accordion-default-content-{{index}}" class="govuk-accordion__section-content"
          aria-labelledby="accordion-default-heading-{{index}}">
          <div class="govuk-body govuk-!-margin-bottom-7">
            <a class="govuk-link" href="#">Repeat search</a>
          </div>
          <table class="govuk-table govuk-summary-list--no-border">
            <!-- <caption class="govuk-table__caption govuk-table__caption--m">Months and rates</caption> -->
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-table__cell--no-border">Search date</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-table__cell--no-border">Search reference</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell--no-border"><a href="#"">20 June 2023</a></td>
                <td class="govuk-table__cell--no-border govuk-table__cell--numeric">000 0000 00{{loop.index + 1 + loop.index*3}}</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell--no-border"><a href="#"">19 June 2023</a></td>
                <td class="govuk-table__cell--no-border govuk-table__cell--numeric">000 0000 00{{loop.index + 2 + loop.index*3}}</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell--no-border"><a href="#"">18 June 2023</a></td>
                <td class="govuk-table__cell--no-border govuk-table__cell--numeric">000 0000 00{{loop.index + 3 + loop.index*3}}</td>
              </tr>
            </tbody>
          </table>
          
        </div>
      </div>
      {% endfor %}
  
    </div>



    <br>
    <a href="/search/new" class="govuk-body">Start a new search</a>
  </div>



</div>

</div>

{% endblock %}