{% extends "layout-v1.html" %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="hmrc-user-research-banner" data-module="hmrc-user-research-banner">
      <div class="hmrc-user-research-banner__container govuk-width-container">
        <div class="hmrc-user-research-banner__text">
          <h2 class="govuk-heading-s hmrc-user-research-banner__title">
            Help make GOV.UK better
          </h2>
          <a class="govuk-link hmrc-user-research-banner__link" rel="noopener noreferrer" href="https://www.gov.uk/government/organisations/hm-revenue-customs" target="_blank">
            Sign up to take part in research (opens in new tab)
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "includes/language-switcher-heading.html" %}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Local land charges search results
    </h1>

    <img src="/public/images/maps/newbury-street.png"
      alt="Map showing search area for '38 Knatchbull Road, London SE5 9QY'" style="height:300px">
    <figcaption class="govuk-body-s">The dotted line shows the area you have searched</figcaption>


    <div class="govuk-!-padding-bottom-4"></div>

    <p>There are <b>30 local land charges</b> for your search area.</p>
    <p>Not the right area? <a href="search">Search again</a>.</p>


    <div id="results-list">
      <h3 class="chargeCategory heading-medium govuk-heading-l">Planning</h3>
      {% set charges = data.charges.categories[0].charges %}

      <div class="search-results-table-types">
        <div class="open-all-link" tabindex="0">
          <span class="link-text font-xsmall" id="toggle-all-0">Open all</span>
        </div>

        {% for charge in data.charges.categories[0].charges %}
        <div class="charge-list-accordion search-results-table-charges">
          <span class="visually-hidden link-text" id="show-hide-0-0">Open charge details</span>
          <div class="charge-search-overview">
            <div class="charge-search-header">

              <h4 class="bold-medium govuk-heading-m">{{charge.subcategory}}</h4>
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                  {% if loop.index <= 13 %} 
                  <img src="/public/images/maps/charge_v2_{{loop.index}}.png" 
                  {% else %} 
                  <img src="/public/images/maps/charge_v2_4.png" 
                  {% endif %}
                  alt="Map showing charge area for '9 Marmalade Street, Liverpool L7 0TH" style="height:120px">
                  <figcaption class="govuk-body-s">Map showing charge area</figcaption>
                </div>
                <div class="govuk-grid-column-two-thirds">
                  <p class='govuk-body'>{{ charge.description | safe }}</p>
                </div>
              </div>
              <div class="no-padding column-half-hack">
                <span class="bold-small">Creation date</span>
              </div>
              <div class="no-padding column-half">
                <span class="govuk-body">{{ charge.creationDate }}</span>
              </div>
              <br><br>
            </div>
            <div class="charge-search-expand">
              {% if loop.index <= 1 %} 
              <span id="expand-icon-0-0" class="icon expand-icon-plus-minus"></span>
              {% else %} 
              <span id="expand-icon-0-0" class="icon expand-icon-plus-minus closed"></span>
              {% endif %}
              
            </div>
          </div>
          {% if loop.index <= 1 %} 
          <table id="details-0-0" class="charge-details">
          {% else %} 
          <table id="details-0-0" class="charge-details" style="display: none;">
          {% endif %}

            <tbody>
              <tr>
                <th scope="row" class="bold-small">
                  Location
                </th>
                <td>{{ charge.location | safe }}</td>
              </tr>
              <tr>
                <th scope="row" class="bold-small">
                  Originating authority
                </th>
                <td>
                  {{ charge.originatingAuthority }}
                </td>
              </tr>
              <tr>
                <th scope="row" class="bold-small">
                  Authority reference
                </th>
                <td>
                  {{ charge.authorityReference }}
                </td>
              </tr>
              <tr>
                <th scope="row" class="bold-small">
                  Registration date
                </th>
                <td>
                  {{ charge.registrationDate }}
                </td>
              </tr>
              <tr>
                <th scope="row" class="bold-small">
                  Law
                </th>
                <td>
                  {{ charge.law }}
                </td>
              </tr>
              <tr>
                <th scope="row" class="bold-small">
                  Legal document
                </th>
                <td>
                  {{ charge.legalDocument }}
                </td>
              </tr>

              <tr>
                <th scope="row" class="bold-small">
                  HM Land Registry reference
                </th>
                <td>
                  {{ charge.hmlrReference }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        {% endfor %}
      </div>

    </div>



    <div class="govuk-!-padding-bottom-9"></div>
    <h2 class="govuk-heading-l">
      Other
    </h2>


    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-with-summary-sections">
      <div class="govuk-accordion__section ">


        <div class="charge-list-accordion search-results-table-charges">
          <span class="visually-hidden link-text" id="show-hide-0-11">Open charge details</span>
          <div class="charge-search-overview">
            <div class="charge-search-header">
              <br>

              <h4 class="bold-medium govuk-heading-m">Smoke control order</h4>

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                  <img src="/public/images/maps/charge_13.png"
                    alt="Map showing charge area for '9 Marmalade Street, Liverpool l7 0TH'" style="height:120px">
                  <figcaption class="govuk-body-s">Map showing charge area</figcaption>
                </div>
                <div class="govuk-grid-column-two-thirds">
                  <p>
                    The Whole of the City of Liverpool is a Smoke Control Area
                  </p>
                </div>
              </div>
              <div class="no-padding column-half-hack">
                <span class="bold-small">Creation date</span>
              </div>
              <div class="no-padding column-half">
                <span>Not provided</span>
              </div>
              <br><br>
            </div>
            <div class="charge-search-expand">
              <span id="expand-icon-0-11" class="icon expand-icon-plus-minus closed"></span>
            </div>
          </div>

        </div>


      </div>

    </div>

    <div class="govuk-!-padding-bottom-3"></div>
  <div class=" govuk-!-margin-top-9 govuk-!-margin-bottom-9">
    <h3 class="govuk-heading-m ">Help us improve our services</h3>
    <p class="govuk-body">We use your feedback to make our services better.</p>
    <p class="govuk-body"><a>Tell us what you think of this service</a> (takes 60 seconds)</p>
  </div>
  </div>


  <div class="govuk-grid-column-one-third">

    <aside class="app-related-items govuk-!-margin-bottom-3" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Download an official search result for £15
      </h2>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Benefits of an official search
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body-s">By purchasing an official search result from us, you’ll receive a document that:</p>
          <ul class="govuk-list govuk-list--bullet govuk-body-s">
            <li>is secure and digitally signed by HM Land Registry</li>
            <li>highlights local land charge boundaries on a map</li>
            <li>enables you to get free, repeat searches for 6 months</li>
            <li>includes a link to the source information</li>
          </ul>

      </details>
      <button class="govuk-button" data-module="govuk-button" style="width:100%"
        onclick="window.location.href='singleaddress.html'">
        Pay now
      </button>
    </aside>

  </div>
</div>
{% endblock %}