<div class="govuk-!-margin-top-6 govuk-!-margin-bottom-9">
  <h2 class="govuk-heading-m" id="subsection-title">
    Other ways to add an extent
  </h2>

  <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-4">
    {% if method != "postcode" %}
    <li><a class="govuk-link govuk-link--no-visited-state" href="search">Add an extent by postcode, street name or town</a></li>
    {% endif %}
    {% if method != "title" %}
    <li><a class="govuk-link govuk-link--no-visited-state" href="search-by-title">Add an extent by title number</a></li>
    {% endif %}
    {% if method != "llc-ref" %}
    <li><a class="govuk-link govuk-link--no-visited-state" href="search-by-llc-ref">Add an extent by HMLR reference number</a></li>
    {% endif %}
    {% if method != "map" %}
    <li><a class="govuk-link govuk-link--no-visited-state" href="map">Add an extent by map</a></li>
    {% endif %}
    {% if method != "shapefile" %}
    <li><a class="govuk-link govuk-link--no-visited-state" href="upload-shapefile">Add an extent by uploading a shapefile</a></li>
    {% endif %}
  </ul>
</div>
