<details class="govuk-details" data-module="govuk-details" open="">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">Main changes</span>
          </summary>
  
          <div class="govuk-details__text">
            
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-third">What we've done</th>
                  <th scope="col" class="govuk-table__header govuk-!-width-one-third">Why we did it</th>
                  <th scope="col" class="govuk-table__header govuk-!-width-one-third">Links</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Added first designs for the PHEATS registration functionality in PHES</td>
                  <td class="govuk-table__cell">To address a business requirement to digitise and transform the existing paper process plus improve the existing PHES touchpoints</td>
                  <td class="govuk-table__cell">
                    <ul class="govuk-list govuk-list--bullet">
                      <li><a href="dev/2-0/account?returnURL=dashboard-submitted" class="govuk-link">Manage account</a></li>
                      <li><a href="dev/2-0/account/inspection-addresses?returnURL=dashboard-submitted" class="govuk-link">Manage addresses</a></li>
                    </ul>
                    <strong>PHEATS registration</strong>
                    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-1">
                      <li><a href="dev/2-0/pheats/pheats-start?addressAdded=yes" class="govuk-link">start (registering new address)</a></li>
                      <li><a href="dev/2-0/pheats/pheats-start?addressAdded=no" class="govuk-link">start (registering existing address)</a></li>
                      <li><a href="dev/2-0/pheats/pheats-commodity" class="govuk-link">add commodity</a></li>
                      <li><a href="dev/2-0/pheats/pheats-commodities-added" class="govuk-link">review commodities</a></li>
                      <li><a href="dev/2-0/pheats/pheats-pr" class="govuk-link">person responsible</a></li>
                      <li><a href="dev/2-0/pheats/pheats-ap" class="govuk-link">add authorised person</a></li>
                      <li><a href="dev/2-0/pheats/pheats-aps-added" class="govuk-link">review authorised people</a></li>
                      <li><a href="dev/2-0/pheats/pheats-site" class="govuk-link">site plan</a></li>
                      <li><a href="dev/2-0/pheats/pheats-declaration" class="govuk-link">declaration</a></li>
                      <li><a href="dev/2-0/pheats/pheats-cya" class="govuk-link">check your answers</a></li>
                      <li><a href="dev/2-0/pheats/pheats-confirmation" class="govuk-link">confirmation of submission</a></li>
                      <li><a href="dev/2-0/pheats/pheats-cancel?pheatsReturnURL=pheats-commodity" class="govuk-link">cancel unsubmitted application</a></li>
                    </ul>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Added first designs for the ePhyto functionality in PHES as part of the <a href="https://eaflood.atlassian.net/wiki/spaces/TRADE/pages/4342055335/ePhyto+Alpha+Exports" class="govuk-link" rel="noreferrer noopener" target="_blank">ePhyto Alpha (Exports) (opens in new tab)</a> R&amp;D work</td>
                  <td class="govuk-table__cell">To address a business requirement to digitise and transform the existing paper process plus improve the existing PHES touchpoints</td>
                  <td class="govuk-table__cell">
                    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-1">
                      <li><a href="dev/2-0/ephyto/application-re-issue?id=34&amp;returnURL=dashboard-submitted" class="govuk-link">Certificate issued (HTML)</a></li>
                      <li><a href="dev/2-0/ephyto/phytosanitary-certificate" class="govuk-link">HTML phytosanitary certificate</a></li>
                      <li><a href="dev/2-0/ephyto/application-re-issue?id=34&amp;returnURL=dashboard-submitted&amp;design=1" class="govuk-link">Certificate issued (PDF) - design 1</a></li>
                      <li><a href="dev/2-0/ephyto/application-re-issue?id=34&amp;returnURL=dashboard-submitted&amp;design=2" class="govuk-link">Certificate issued (PDF) - design 2</a></li>
                      <li><a href="dev/2-0/ephyto/application-re-issue?id=34&amp;returnURL=dashboard-submitted&amp;design=3" class="govuk-link">Certificate issued (PDF) - design 3</a></li>
                      <li><a href="dev/2-0/ephyto/application-re-issue?id=34&amp;returnURL=dashboard-submitted&amp;design=4" class="govuk-link">Certificate issued (PDF) - design 4</a></li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
  
          </div>
  
        </details>