{% extends "layout.html" %}
{% set serviceName= "Maintain LLC" %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        What do you want to do?
      </h1>
    </div>

    <div class="govuk-grid-column-two-thirds">

<!-- TEST -->

      <h2 class="govuk-heading-m">
        Manage charges
      </h2>
      <ul class="govuk-list">
        <li><a class="govuk-link--no-visited-state" href="find-a-charge/search">Find, update or cancel a charge</a></li>
        <li><a class="govuk-link--no-visited-state" href="add-a-charge/choose-a-charge">Add a charge</a></li>
        <li><a class="govuk-link--no-visited-state" href="#">Add a charge on behalf of another organisation</a></li>
        <li><a class="govuk-link--no-visited-state" href="expired-charges/expired-charges">Expired charges (10)</a></li>
      </ul>


      <h2 class="govuk-heading-m">
        Manage email subscriptions
      </h2>
      <ul class="govuk-list">
        <li><a class="govuk-link--no-visited-state" href="#">Manage your email subscriptions</a></li>
      </ul>


      <h2 class="govuk-heading-m">
        Manage migration data
      </h2>
      <ul class="govuk-list">
        <li><a class="govuk-link--no-visited-state" href="#">Process scanned images</a></li>
        <li><a class="govuk-link--no-visited-state" href="#">Manage migration data</a></li>
      </ul>


      <h2 class="govuk-heading-m">
        Release notices
      </h2>
      <ul class="govuk-list">
        <li><a class="govuk-link--no-visited-state" href="#">View release notices</a></li>
      </ul>

    </div>
  </div>
{% endblock %}
